body {
    background-color: beige;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar {
    flex: 1;

    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: raw;
    background-color: bisque;
    border: solid, 4px, black;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    justify-content: center;
    margin: 10px;
}

.navBar1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.navBar2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.navBar3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: row;
    /* Arrange elements in a row */
    justify-content: center;
    /* Centers the boxes horizontally */
    align-items: center;
    /* Aligns them vertically */
}

.bodyArea {
    /*  height: 100%; */
    width: auto;
    /*width: 300px;*/
    /* Ensure both boxes have the same width */
    height: 300px;
    /* Ensure both boxes have the same height */

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: bisque;
    border: solid, 4px, black;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    justify-content: center;
    margin: 10px
}



.bodyArea1 {

    background-color: khaki;
    align-items: first baseline;
}

.bodyArea2 {
    align-items: flex-start;

    background-color: rgb(140, 200, 240);
}

/* Centering image inside yellow box */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.image-container img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}


button:hover {
    background-color: green;
    color: beige;
}

/*.caption {
    text-align: center;
    margin-top: 10px;
}*/